<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Node delivered HTML</title>
</head>

<body>
  <form action="/simpan" method="post">
    name:<br>
    <input type="text" name="name">
    <br>umur:<br>
    <input type="number" name="age"><br>

    <input type="submit" value="Submit">
  </form>

  <button type='button' onclick='index()'>Get persons!</button>
</body>

</html>